In [45]:
import pandas as pd
import Bio.SeqIO as SeqIO

In [46]:
data = pd.read_csv("/home/anwer/Desktop/PPI_prediction/Dataset_ppi/string_db/9606.protein.physical.links.full.v11.5.txt",sep=" ")
data.head()

,protein1,protein2,homology,experiments,experiments_transferred,database,database_transferred,textmining,textmining_transferred,combined_score
0,9606.ENSP00000000233,9606.ENSP00000264718,0,0,157,0,0,0,0,156
1,9606.ENSP00000000233,9606.ENSP00000346046,0,0,178,0,0,0,0,177
2,9606.ENSP00000000233,9606.ENSP00000347134,0,0,143,0,0,0,63,162
3,9606.ENSP00000000233,9606.ENSP00000317469,0,0,345,0,0,0,92,379
4,9606.ENSP00000000233,9606.ENSP00000302393,0,272,62,0,0,0,0,287

## 1. Data Preprocessing

#### Experiments score > 500

In [47]:
data = data[data['experiments']> 500][['protein1','protein2','experiments']]

In [48]:
from tqdm import tqdm
dct = {}
for rec in tqdm(SeqIO.parse("/home/anwer/Desktop/PPI_prediction/fasta_file/9606.protein.sequences.v11.5.fa","fasta")):
    dct[rec.id] =  str(rec.seq)

19566it [00:00, 143040.47it/s]

In [49]:
def convert_to_seq(seq_name):
    try:
        return dct[seq_name]
    except:
        return None

In [50]:
data["protein_1_sequence"] = data['protein1'].apply(convert_to_seq)
data["protein_2_sequence"] = data['protein2'].apply(convert_to_seq)
data.dropna(inplace = True)

In [51]:
data.head()

,protein1,protein2,experiments,protein_1_sequence,protein_2_sequence
185,9606.ENSP00000000233,9606.ENSP00000440005,679,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MGNIFANLFKGLFGKKEMRILMVGLDAAGKTTILYKLKLGEIVTTI...
325,9606.ENSP00000000233,9606.ENSP00000452762,550,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MFRAAAPGQLRRAASLLRFQSTLVIAEHANDSLAPITLNTITAATR...
515,9606.ENSP00000000412,9606.ENSP00000438085,932,MFPFYSCWRTGLLLLLLAVAVRESWQTEEKTCDLVGEKGKESEKEL...,MAEAEGESLESWLNKATNPSNRQEDWEYIIGFCDQINKELEGPQIA...
718,9606.ENSP00000001008,9606.ENSP00000359385,525,MTAEEMKATESGAQSAPLPMEGVDISPKQDEGVLKVIKREGTGTEM...,MAVEELQSIIKRCQILEEQDFKEEDFGLFQLAGQRCIEEGHTDQLL...
790,9606.ENSP00000001008,9606.ENSP00000360609,504,MTAEEMKATESGAQSAPLPMEGVDISPKQDEGVLKVIKREGTGTEM...,MPEEVHHGEEEVETFAFQAEIAQLMSLIINTFYSNKEIFLRELISN...

In [54]:
data['protein_1_sequence'] = data['protein_1_sequence'].apply(lambda x: x.strip())
data['protein_2_sequence'] = data['protein_2_sequence'].apply(lambda x: x.strip())
data.to_csv("/home/anwer/Desktop/PPI_prediction/csv_files/String_ppi_with_sequences.csv",index = False)

## 2. Exploratory Data Analysis

##### Human-human PPIs

In [55]:
data = pd.read_csv("/home/anwer/Desktop/PPI_prediction/csv_files/String_ppi_with_sequences.csv")
data.head()

,protein1,protein2,experiments,protein_1_sequence,protein_2_sequence
0,9606.ENSP00000000233,9606.ENSP00000440005,679,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MGNIFANLFKGLFGKKEMRILMVGLDAAGKTTILYKLKLGEIVTTI...
1,9606.ENSP00000000233,9606.ENSP00000452762,550,MGLTVSALFSRIFGKKQMRILMVGLDAAGKTTILYKLKLGEIVTTI...,MFRAAAPGQLRRAASLLRFQSTLVIAEHANDSLAPITLNTITAATR...
2,9606.ENSP00000000412,9606.ENSP00000438085,932,MFPFYSCWRTGLLLLLLAVAVRESWQTEEKTCDLVGEKGKESEKEL...,MAEAEGESLESWLNKATNPSNRQEDWEYIIGFCDQINKELEGPQIA...
3,9606.ENSP00000001008,9606.ENSP00000359385,525,MTAEEMKATESGAQSAPLPMEGVDISPKQDEGVLKVIKREGTGTEM...,MAVEELQSIIKRCQILEEQDFKEEDFGLFQLAGQRCIEEGHTDQLL...
4,9606.ENSP00000001008,9606.ENSP00000360609,504,MTAEEMKATESGAQSAPLPMEGVDISPKQDEGVLKVIKREGTGTEM...,MPEEVHHGEEEVETFAFQAEIAQLMSLIINTFYSNKEIFLRELISN...

In [57]:
print("Total Number of pairs: ", len(data))

Total Number of pairs:  81380

In [60]:
print("Number of unique Proteins: ", len(set(data['protein_1_sequence']).union(set(data['protein_2_sequence']))) )

Number of unique Proteins:  7781

In [61]:
print("Maximum length proteins: ", max(set(data['protein_1_sequence']).union(set(data['protein_2_sequence']))))
print('\n' )
print("Maximum length of Proteins sequences: ", len(max(set(data['protein_1_sequence']).union(set(data['protein_1_sequence'])))))

Maximum length proteins:  XLPAPAAALPGAPPPPPGVRGYPARARGLQGASGGARFPSSLSLPVPGKGGWVVSRAKFPALDSCEITTAHPRLCFAVSPPFSCSLPLPSLFPHSPLLGRPKRQAKPAADEGFWDCSVCTFRNSAEAFKCSICDVRKGTSTRKPRINSQLVAQQVAQQYATPPPPKKEKKEKVEKQDKEKPEKDKEISPSVTKKNTNKKTKPKSDILKDPPSEANSIQSANATTKTSETNHTSRPRLKNVDRSTAQQLAVTVGNVTVIITDFKEKTRSSSTSSSTVTSSAGSEQQNQSSSGSESTDKGSSRSSTPKGDMSAVNDESF


Maximum length of Proteins sequences:  317