In [67]:
import pandas as pd
import pickle
from tqdm import tqdm

# Test Data

In [2]:
data = pd.read_csv("../../csv_files_new_ppi/training_and_test_set/test_set_without_embedding.csv")

In [4]:
data.label.value_counts()

0    213458
1     21347
Name: label, dtype: int64

In [16]:
with open('../../pickle/prot_to_seq_pickle/all_prot_seq_for_bert.pickle', 'rb') as handle:
        name_to_seq = pickle.load(handle)
with open('../../pickle/prot_to_seq_pickle/all_prot_negatome_seq_for_bert.pickle', 'rb') as handle:
        name_to_seq_neg = pickle.load(handle)

In [11]:
data.head()

   Protein_A  Protein_B  label
0   PRO_4691   PRO_2365      1
1  PRO_12486  PRO_12486      1
2  PRO_12486  PRO_15453      1
3  PRO_12486  PRO_22362      1
4  PRO_12486   PRO_3423      1

In [20]:
def return_seq(name):
    try:
        return name_to_seq[name]
    except:
        return name_to_seq_neg[name]
data['Protein_A_seq'] = data['Protein_A'].apply(return_seq)
data['Protein_B_seq'] = data['Protein_B'].apply(return_seq)

In [29]:
data['Concat_Protein'] = data['Protein_A_seq'] + " " + data['Protein_B_seq']
data['Concat_Protein_B'] = data['Protein_B_seq'] + " " + data['Protein_A_seq']

In [30]:
data.iloc[0].Protein_A_seq

'M A S L E V S R S P R R S R R E L E V R S P R Q N K Y S V L L P T Y N E R E N L P L I V W L L V K S F S E S G I N Y E I I I I D D G S P D G T R D V A E Q L E K I Y G S D R I L L R P R E K K L G L G T A Y I H G M K H A T G N Y I I I M D A D L S H H P K F I P E F I R K Q K E G N F D I V S G T R Y K G N G G V Y G W D L K R K I I S R G A N F L T Q I L L R P G A S D L T G S F R L Y R K E V L E K L I E K C V S K G Y V F Q M E M I V R A R Q L N Y T I G E V P I S F V D R V Y G E S K L G G N E I V S F L K G L L T L F A T T'

In [31]:
data.iloc[0].Protein_B_seq

'M S G C P F L G N N F G Y T F K K L P V E G S E E D K S Q T G V N R A S K G G L I Y G N Y L H L E K V L N A Q E L Q S E T K G N K I H D E H L F I I T H Q A Y E L W F K Q I L W E L D S V R E I F Q N G H V R D E R N M L K V V S R M H R V S V I L K L L V Q Q F S I L E T M T A L D F N D F R E Y L S P A S G F Q S L Q F R L L E N K I G V L Q N M R V P Y N R R H Y R D N F K G E E N E L L L K S E Q E K T L L E L V E A W L E R T P G L E P H G F N F W G K L E K N I T R G L E E E F I R I Q A K E E S E E K E E Q V A E F Q K Q K E V L L S L F D E K R H E H L L S K G E R R L S Y R A L Q G A L M I Y F Y R E E P R F Q V P F Q L L T S L M D I D S L M T K W R Y N H V C M V H R M L G S K A G T G G S S G Y H Y L R S T V S D R Y K V F V D L F N L S T Y L I P R H W I P K M N P T I H K F L Y T A E Y C D S S Y F S S D E S D'

In [33]:
data.iloc[0].Concat_Protein

'M A S L E V S R S P R R S R R E L E V R S P R Q N K Y S V L L P T Y N E R E N L P L I V W L L V K S F S E S G I N Y E I I I I D D G S P D G T R D V A E Q L E K I Y G S D R I L L R P R E K K L G L G T A Y I H G M K H A T G N Y I I I M D A D L S H H P K F I P E F I R K Q K E G N F D I V S G T R Y K G N G G V Y G W D L K R K I I S R G A N F L T Q I L L R P G A S D L T G S F R L Y R K E V L E K L I E K C V S K G Y V F Q M E M I V R A R Q L N Y T I G E V P I S F V D R V Y G E S K L G G N E I V S F L K G L L T L F A T T M S G C P F L G N N F G Y T F K K L P V E G S E E D K S Q T G V N R A S K G G L I Y G N Y L H L E K V L N A Q E L Q S E T K G N K I H D E H L F I I T H Q A Y E L W F K Q I L W E L D S V R E I F Q N G H V R D E R N M L K V V S R M H R V S V I L K L L V Q Q F S I L E T M T A L D F N D F R E Y L S P A S G F Q S L Q F R L L E N K I G V L Q N M R V P Y N R R H Y R D N F K G E E N E L L L K S E Q E K T L L E L V E A W L E R T P G L E P H G F N F W G K L E K N I T R G L E E E F I R I Q A K E E S E E K E E Q V A E F Q K Q K E V L L S L F D E K R H E H L L S K G E R R L S Y R A L Q G A L M I Y F Y R E E P R F Q V P F Q L L T S L M D I D S L M T K W R Y N H V C M V H R M L G S K A G T G G S S G Y H Y L R S T V S D R Y K V F V D L F N L S T Y L I P R H W I P K M N P T I H K F L Y T A E Y C D S S Y F S S D E S D'

In [36]:
first_df = pd.DataFrame()
first_df[['Protein','label']] = data[['Concat_Protein','label']]
first_df_2 = pd.DataFrame()
first_df_2[['Protein','label']] = data[['Concat_Protein_B','label']]
df = [first_df,first_df_2]
data = pd.concat(df)

In [42]:
data

                                                  Protein  label
0       M A S L E V S R S P R R S R R E L E V R S P R ...      1
1       M E D L G E N T M V L S T L R S L N N F I S Q ...      1
2       M E D L G E N T M V L S T L R S L N N F I S Q ...      1
3       M E D L G E N T M V L S T L R S L N N F I S Q ...      1
4       M E D L G E N T M V L S T L R S L N N F I S Q ...      1
...                                                   ...    ...
234800  M D G V T P T L S T I R G R T L E S S T L H V ...      0
234801  M D E Q A L L G L N P N A D S D F R Q R A L A ...      0
234802  M E E C W V T E I A N G S K D G L D S N P M K ...      0
234803  M A A S Q C L C C S K F L F Q R Q N L A C F L ...      0
234804  M A D E E L E A L R R Q R L A E L Q A K H G D ...      0

[469610 rows x 2 columns]

In [45]:
combined_seq_to_pro_dct = {}

for index,row in data.iterrows():
    combined_seq_to_pro_dct[row.Protein] = f"combined_pro_{index}"

In [49]:
def return_pro_name(seq):
    return combined_seq_to_pro_dct[seq]

data['Protein_name'] = data['Protein'].apply(return_pro_name)

In [51]:
final_test_data = data[['Protein_name','label']]
final_test_data

               Protein_name  label
0            combined_pro_0      1
1            combined_pro_1      1
2            combined_pro_2      1
3            combined_pro_3      1
4            combined_pro_4      1
...                     ...    ...
234800  combined_pro_234800      0
234801  combined_pro_234801      0
234802  combined_pro_234802      0
234803  combined_pro_234803      0
234804  combined_pro_234804      0

[469610 rows x 2 columns]

In [52]:
final_test_data.label.value_counts()

0    426916
1     42694
Name: label, dtype: int64

In [53]:
final_test_data.to_csv("../../csv_files_new_ppi/training_and_test_set/test/combined_test.csv",index = False)

# Train Data

In [56]:
data = pd.read_csv("../../csv_files_new_ppi/training_and_test_set/train_set_without_embedding.csv")

In [57]:
data

        Protein_A  Protein_B  label
0        PRO_1968   PRO_3259      1
1        PRO_1968  PRO_20825      1
2        PRO_1968  PRO_11236      1
3        PRO_1968  PRO_16190      1
4        PRO_1968   PRO_4579      1
...           ...        ...    ...
483601   PRO_6778  PRO_18574      0
483602   PRO_6260  PRO_20220      0
483603   PRO_8204   PRO_8043      0
483604     PRO_83   PRO_3278      0
483605  PRO_12432  PRO_14075      0

[483606 rows x 3 columns]

In [58]:
def return_seq(name):
    try:
        return name_to_seq[name]
    except:
        return name_to_seq_neg[name]
data['Protein_A_seq'] = data['Protein_A'].apply(return_seq)
data['Protein_B_seq'] = data['Protein_B'].apply(return_seq)

In [59]:
data

,Protein_A,Protein_B,label,Protein_A_seq,Protein_B_seq
0,PRO_1968,PRO_3259,1,M A K N P P E N C E D C H I L N A E A F K S K ...,M A S S S T V P L G F H Y E T K Y V V L S Y L ...
1,PRO_1968,PRO_20825,1,M A K N P P E N C E D C H I L N A E A F K S K ...,M S S H L V E P P P P L H N N N N N C E E N E ...
2,PRO_1968,PRO_11236,1,M A K N P P E N C E D C H I L N A E A F K S K ...,M P L L L L L P L L W A G A L A M D P N F W L ...
3,PRO_1968,PRO_16190,1,M A K N P P E N C E D C H I L N A E A F K S K ...,M W T L K S S L V L L L C L T C S Y A F M F S ...
4,PRO_1968,PRO_4579,1,M A K N P P E N C E D C H I L N A E A F K S K ...,M G H R F L R G L L T L L L P P P P L Y T R H ...
...,...,...,...,...,...
483601,PRO_6778,PRO_18574,0,M A Q A L S E E E F Q R M Q A Q L L E L R T N ...,M K K E Q D S N V T E F V L L G L S S S W E L ...
483602,PRO_6260,PRO_20220,0,M G A P L A V A L G A L H Y L A L F L Q L G G ...,M E M R W F L S K I Q D D F R G G K I N L E K ...
483603,PRO_8204,PRO_8043,0,M L R L V P T G A R A I V D M S Y A R H F L D ...,M A P K K S V S K A G K E L E V K K K G G K K ...
483604,PRO_83,PRO_3278,0,M N G Q L N G F H E A F I E E G T F L F T S E ...,M D L S C S C A T G G S C T C A S S C K C K E ...
483605,PRO_12432,PRO_14075,0,M G S P A A P E G A L G Y V R E F T R H S S D ...,M G A V M G T F S S L Q T K Q R R P S K D I A ...

In [60]:
data['Concat_Protein'] = data['Protein_A_seq'] + " " + data['Protein_B_seq']
data['Concat_Protein_B'] = data['Protein_B_seq'] + " " + data['Protein_A_seq']

In [61]:
first_df = pd.DataFrame()
first_df[['Protein','label']] = data[['Concat_Protein','label']]
first_df_2 = pd.DataFrame()
first_df_2[['Protein','label']] = data[['Concat_Protein_B','label']]
df = [first_df,first_df_2]
data = pd.concat(df)

In [63]:
data.reset_index(drop = True)

                                                  Protein  label
0       M A K N P P E N C E D C H I L N A E A F K S K ...      1
1       M A K N P P E N C E D C H I L N A E A F K S K ...      1
2       M A K N P P E N C E D C H I L N A E A F K S K ...      1
3       M A K N P P E N C E D C H I L N A E A F K S K ...      1
4       M A K N P P E N C E D C H I L N A E A F K S K ...      1
...                                                   ...    ...
967207  M K K E Q D S N V T E F V L L G L S S S W E L ...      0
967208  M E M R W F L S K I Q D D F R G G K I N L E K ...      0
967209  M A P K K S V S K A G K E L E V K K K G G K K ...      0
967210  M D L S C S C A T G G S C T C A S S C K C K E ...      0
967211  M G A V M G T F S S L Q T K Q R R P S K D I A ...      0

[967212 rows x 2 columns]

In [64]:
data.label.value_counts()

1    483638
0    483574
Name: label, dtype: int64

In [73]:
seq_list = []
for i,j in combined_seq_to_pro_dct.items():
    seq_list.append(i)

In [ ]:
for index,row in tqdm(data.iterrows()):
    
    if row.Protein not in seq_list:
        
        combined_seq_to_pro_dct[row.Protein] = f"combined_pro_{index+200000000}"
    else:
        continue

298458it [1:18:46, 59.70it/s]

In [ ]:
with open('../../pickle/prot_to_seq_pickle/all_prot_negatome_seq_for_bert.pickle', 'rb') as handle:
        name_to_seq_neg = pickle.load(handle)